{% extends "base_generic.html" %}

{% block content %}
  {% if Projects %}
      <div class="container">
      {% for project in Projects %}
        <div class="card" style="width: 60rem;margin-top:20px">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <p><a href="{% url 'project-detail' project.pk %}">{{project.name}}</a></p>
                    <p><a href="{% url 'company-detail' project.company.pk %}">{{ project.company.title }}</a></p>
                {% else %}
                    <p>{{project.name}}</p>
                    <p>{{ project.company.title }}</p>
                {% endif %}
                <p>{{project.description}}</p>
                <p>{{project.published}}</p>
            </div>
        </div>
      {% endfor %}
      </div>
  {% else %}
      <p>There are no projects here now</p>
  {% endif %}

{% endblock %}