<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% block title %}<title>CRM</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">


</head>

<body>

<nav class="navbar fixed-top navbar-dark bg-dark" style="a{color:#FFFFFF}">
  <div class="container-fluid">
    <a class="navbar-brand">Navigation: </a>
    <a class="nav-link" href="{% url 'index' %}">Home</a>
    <a class="nav-link" href="{% url 'companies-nu' %}">Companies</a>
    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
    <a class="nav-link" href="{% url 'messages' %}">Messages</a>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'personal-account' %}">Personal Account : {{ user.username }}</a>
      {% endif %}
  </div>
</nav>

    <div style="margin-top:100px">
      {% block content %}
      {% endblock %}
    </div>

{% block pagination %}
  {% if is_paginated %}
    <nav>
      <ul class="pagination" style="margin-top:40px;margin-bottom:100px;margin-left:200px">
          {% for page in page_obj.paginator.page_range %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
          {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</body>
</html>